<nav class="navbar mb-5">
  <span class="heading navbar-brand">GST Demonstrator</span>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="heading navbar-nav">
         <button type="button" class="btn btn-primary" (click)="addProductPopup(true)" >Add Product</button>
    </div>
  </div>
</nav>

<app-add-products *ngIf="addProduct" (product) = "updateProductState($event)"></app-add-products>
